header,
nav,
footer,
section,
article,
div {
    font-family: Georgia, serif;
    box-sizing: border-box;
}


body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #6b7a8f;
}

body {
  font-family: Roboto;
  color: #df744b;
}

article {
    clear: both;
    margin: 10px;
    background-color: #bfd8d2;
    overflow: auto;
    max-width: 500px;
}

h1,
h3,
h4,
h5 {
  margin: 0;
}

h2{
    margin: 20px;
}

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;

}

.projects {

}

.project_pic {
    float:left;
    padding: 10px;
    max-width: 100%;
    max-height: 400px;
    height: 100%;
}
