header,
nav,
footer,
section,
article,
div {
    font-family: Georgia, serif;
    box-sizing: border-box;
}


body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #c5c1c0;
}

body {
  font-family: Roboto;
  color: #0a1612;
}

header {
}

article {
    clear: both;
    margin: 10px auto;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #1a2930;
    overflow: auto;
    min-width: 300px;
    max-width: 500px;
    border-radius: 8px;

}

h1,
h3,
h4,
h5 {
  margin: 10px;

}

h2{
    margin: 20px;
}

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;

}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    color: white;
    margin: auto;
}

.project_pic {
    float:left;
    padding: 5%;
    min-width: 100px;
    max-height: 400px;
    height: auto;
}

.project_text{
    margin: 10px;
}

@media screen and (max-width:500px) {
    body,
    html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    main,
    header,
    section,
    h2 {
        display: inline-block;
        text-align: center;
    }

    .project_pic{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        width: 75%;
        height: auto;
    }
}
